#blog-page {
  h3 {
    color: $body-color;
  }

  .widget__title {
    color: $body-color;
  }

  .card {
    border-width: 1px;

    &-title {
      color: $primary-color;
    }
    &-text {
      p {
        color: $body-color;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .widget {
    &__title {

    }
  }

  .blog {
    &__title {
      color: $body-color;
    }
    &__footer {
      border-top: 1px solid #aaa;
      margin-top: 5rem;
    }
    &__meta-item {
      i {
        margin-right: 10px;
      }
    }
  }
}