#contact-page {
  address {
    text-align: right;
  }

  form {
    margin-bottom: 1rem;
  }

  label {
    text-transform: uppercase;
    font-weight: bold;
  }
}

@include media-breakpoint-up(sm) {
  #contact-page {
    form {
      margin-bottom: 0;
    }
  }
}