#faq-page {
  text-align: justify;

  .faq {
    //padding-left: 15px;

    li {
      color: $link-color;
      font-weight: bold;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
    &__question {
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $link-color;
      }

      display: flex;
      flex-direction: row;
    }
    &__question-numbers {
      width: 30px;
      text-align: right;
      padding-right: 5px;
    }
    &__answer {
      color: $body-color;
      font-weight: normal;
      margin-left: 30px;
    }
  }
}