#home-page {
  p {
    text-align: justify;
  }
  h2 {
    color: $body-color;

    strong {
      display: block;
    }
  }

  .background-overlay {
    background: /* top, transparent red, faked with gradient */
            linear-gradient(
                            rgba(255, 255, 255, .9),
                            rgba(255, 255, 255, 0)
            ),
              /* bottom, image */
            url("/images/Background-Benefit-Alternative-3-opaque.jpg") no-repeat center top / cover;
  }

  #overview {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #benefits {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: /* top, transparent red, faked with gradient */
            linear-gradient(
                            rgba(61, 146, 185, .7),
                            rgba(61, 146, 185, .7)
            );
    color: #fff;

    h2 {
      color: #fff;
    }
    a {
      color: #fff;
      border: 1px solid #fff;

      &:hover {
        background-color: #fff;
        color: $primary-color;
      }
    }

    strong {
      display: block;
    }

    .benefits {
      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 3rem;
      }
      &__icon {
        margin-right: 1rem;
      }
    }
  }

  #featured_projects {
    height: auto;
    overflow-x: hidden;

    .slick-prev, .slick-next {
      z-index: 10;

      &:before {
        color: $body-color;
      }
    }
    .slick-prev {
      left: -7px;
    }
    .slick-next {
      right: -7px;
    }
    .card {
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem;
    }
    .card-title {
      color: $body-color;
    }
    .row {
      margin: 0;
      @extend .no-gutters;
    }
    .featured-projects {
      &__description {
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
      }
      &__item {
        width: 100%;
        height: 100%;
        background: #ccc no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &.lazyloaded {
          i.fa {
            display: none;
          }
        }

        &:hover {
          .featured-projects__overlay {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &__overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;

        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
                        rgba(0, 0, 0, .1),
                        rgba(0, 0, 0, 1));
        display: flex;
        align-items: flex-end;
      }
      &__overlay-text {
        color: #fff;
        padding: 15px;
        width: 100%;

        p {
          margin: 0;
          text-align: justify;
        }
      }
    }
    .container-fluid, .row {
      height: 100%;
    }
  }

  #more-links {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .card {
      transition: all .3s;
      box-shadow: 0 5px 20px 0 rgba(50, 50, 50, 0.75);

      &:hover {
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.75);

        .card-img-overlay {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
    .card-img-overlay {
      transition: background .3s;
      background: rgba(0, 0, 0, .5)
    }
  }
}

@include media-breakpoint-up(md) {
  #more-links {
    margin-bottom: -5rem;
  }
}

@include media-breakpoint-up(xl) {
  #home-page {
    #featured_projects {
      height: 1200px;
    }
  }
}

$iconSize: 90px;
.benefits__icon {
  background: url(/images/benefits-icons-sprite-white.svg) no-repeat top center;
  background-size: cover;
  width: $iconSize;
  height: $iconSize;
  min-width: $iconSize;
  min-height: $iconSize;

  &--outstanding {
    background-position-y: $iconSize * 0;
  }
  &--never-corrode {
    background-position-y: -$iconSize * 1;
  }
  &--durable {
    background-position-y: -$iconSize * 2;
  }
  &--noise-insulation {
    background-position-y: -$iconSize * 3;
  }
  &--chemical-resistance {
    background-position-y: -$iconSize * 4;
  }
  &--long-warranty {
    background-position-y: -$iconSize * 5;
  }
}