#product-page {
  h3, h2 {
    color: $body-color;
  }
  h2 {
    text-align: center;

    .subtitle {
      color: $body-color;
      font-weight: bold;
      font-size: 3rem;
      display: block;
    }
  }
  p {
    text-align: justify;
  }

  //.card {
  //  border: 0;
  //  h4.card-title {
  //    color: $body-color;
  //  }
  //}
}

#specification {
  dt {
    padding-right: 0;
  }
}

#type, #supporting-accessories, #installation {
  figure {
    figcaption {
      color: $body-color;
      text-align: justify;

      .figure-title {
        color: $body-color;
      }
    }
  }
}

#supporting-accessories {
  .accessories {
    .accessories__item {
      margin-top: 5rem;
      margin-bottom: 5rem;
      padding-bottom: 3rem;

      &:first-child {
        margin-top: 0;
      }
      figcaption {
        font-weight: bold;
      }
      .col-md-8:after {
        content: '';
        height: 2px;
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 10%;
        background-color: #ccc !important;
        margin: 1rem auto auto;
      }
    }
  }
}

#installation {
  figure {
    width: 100%;
  }
  h4 {
    color: $body-color;
  }
  .card {
    border-width: 0;
    border-bottom: 1px solid $card-border-color;
  }
  .card-title {
    background: $primary-color;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: -1.25rem;
  }
  .card-deck {
    margin-bottom: 3rem;
  }
}

@include media-breakpoint-up(sm) {
  #specification {
    dt {
      text-align: right;
    }
  }
}

@include media-breakpoint-up(md) {
  #supporting-accessories {
    .accessories {
      .accessories__item {
        margin: auto !important;

        dd {
          text-align: center;
        }
      }
    }
  }
}