#filter-buttons {
  margin-bottom: 50px;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    .fa {
      font-size: 2rem;
    }
  }

  .list-inline-item {
    margin-bottom: 10px;
    margin-right: 10px;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }
}

#projects {
  &.is-showing-items {
    .project-item {
      opacity: 1;
    }
  }

  .project-item {
    opacity: 0;
  }
}

.project-item {
  $root: &;
  padding-bottom: 15px;

  &__wrapper {
    position: relative;
  }
  &__image {
    img {
      width: 100%;
    }
  }

  &--overlay-full {
    #{$root}__image {
      overflow: hidden;

      img {
        transition: transform .2s linear;
      }
    }
    #{$root}__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .9);
      padding: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0;
      transition: opacity .2s linear;
    }
    #{$root}__content {
      text-align: center;
      color: #fff;
    }
    #{$root}__title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    #{$root}__subtitle {
      color: $secondary-color-gray;
      margin-bottom: 15px;
    }
    &:hover {
      #{$root}__overlay {
        opacity: 1;
      }
      #{$root}__image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .project-item {
    padding-bottom: 30px;
  }
}

body.modal-open, header.site-header {
  padding-right: 0 !important;
}
body.modal-open {
  overflow: hidden !important;
}

.modal {
  &--fullscreen {
    $header-height: 80px;

    padding-right: 0 !important;

    .modal-dialog, .modal-content {
      min-height: 100%;
      height: 100%;
    }

    .modal-dialog {
      margin: auto;
    }
    .modal-content {
      border-radius: 0;
      border: 0;

      .project-title {
        color: $body-color;
      }
    }
    .modal-header {
      background-color: $cta-background-color;
      padding: 0;
      height: $header-height;
      position: fixed;
      width: 100%;

      .close {
        color: $primary-color;
        margin: auto;
        font-size: 3rem;
      }
    }

    .modal-body {
      overflow-y: auto;
      margin-top: $header-height;
      padding: 0;
      padding-top: 15px !important;
    }

    .project-carousel {
      .slick-track {
        margin: 0;
      }
    }

    .project-carousel {
      margin-top: 10px;
      display: none;
    }
    .project-carousel img {
      -webkit-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out
    }
    .slick-slider .slick-arrow:before {
      color: #000
    }
    .project-carousel .slick-current img {
      opacity: .5
    }
    .project-slide,
    .project-carousel {
      //visibility: hidden;
      min-height: 200px
    }
    .slick-initialized {
      //visibility: visible
    }
    .project-slide .slick-prev {
      left: 5px
    }
    .project-slide .slick-next {
      right: 5px
    }
    .project-slide .slick-arrow:before {
      font-size: 25px
    }
    .project-slide .slick-arrow {
      z-index: 10;
      width: 25px;
      height: 25px
    }
  }
}

@include media-breakpoint-up(sm) {
  .modal {
    &--fullscreen {
      .modal-dialog {
        max-width: none;
      }
      .project-carousel {
        display: block;
      }
    }
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.project-description-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 320px;
    position: relative;
  }

  .mask {
    background: #fff;
    float: right;
    height: 20px;

    &__separator, &__separator--mini {
      width: 100%;
      height: 30px;
    }
    &__separator--mini {
      height: 10px;
    }

    &__title {
      width: 30%;
      height: 40px;
    }
    &__description-1, &__description-2, &__description-3 {
      height: 10px;
      width: 1%;
    }
    &__description-2 {
      width: 10%;
    }
    &__description-3 {
      width: 70%;
    }
    &__location {
      width: 30%;
    }
    &__distributor {
      width: 20%;
    }
    &__completed {
      width: 60%;
    }
    &__category {
      width: 55%;
    }
  }
}