#why-rooftop-page {

  p {
    text-align: justify;
  }
  figure {
    margin-top: 3rem;
  }
  .figure-caption {
    color: $primary-color;

    p {
      text-align: center;
      margin-bottom: 0;
    }
    p.lead {
      font-weight: bold;
    }
  }

}

@include media-breakpoint-up(md) {
  #why-rooftop-page {
    figure {
      margin-top: 0;
    }
  }
}