.cta {
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
  padding: 1rem 0;
  background-color: $cta-background-color;

  .container {
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__icon {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    background: url(/images/cta-icon-sprite.png) no-repeat top center;
    background-size: cover;

    &--users {
      background-position: center 0;
    }
    &--check {
      background-position: center -50px;
    }
    &--question {
      background-position: center -100px;
    }
    &--cube {
      background-position: center -150px;
    }
    &--map {
      background-position: center -200px;
    }
  }

  &__text {
    max-width: 100%;
    color: $primary-color;
  }

  &__button {
    white-space: normal;
  }
}

@include media-breakpoint-up(sm) {
  .cta {
    &__text {
      margin-bottom: 0;
    }
  }
}