.distributors {
  //padding-top: 1rem;
  padding-bottom: 1rem;

  &__carousel-item {
    margin-bottom: 30px;
  }
  //.slick-prev:before, .slick-next:before {
  //  color: $body-color;
  //}
  //.slick-prev {
  //  left: 15px;
  //}
  //.slick-next {
  //  right: 15px;
  //}
  .slick-dots {
    li {
      margin: auto;
    }
  }
}

.sitemap {
  &--inverted {
    background-color: $primary-color;

    a, address, .sitemap__menu-title, .distributors h6 {
      color: #eee !important;
    }
  }

  padding-top: 3rem;
  padding-bottom: 3rem;
  line-height: 2;
  background: lighten($primary-color, 50%) no-repeat center top / cover;

  a, address, &__menu-title, .distributors h6 {
    color: $body-color;
  }

  &__menu {
    margin-top: 2rem;
  }
  &__menu--first {
    margin-top: 0;
  }
  &__menu-title {
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-weight: bold;
  }
  &__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid #ccc;
    }
  }
}

.site-footer {
  background-color: $top-bar-gray;
  color: $primary-color;
  padding-top: .5rem;
  padding-bottom: .5rem;

  &__copyright, &__social-icons {
    text-align: center;
  }

  &__social-icons {
    ul {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  .site-footer {
    &__copyright {
      text-align: left;

      display: flex;
      align-items: center;
    }
    &__social-icons {
      text-align: right;
    }
  }
}

@include media-breakpoint-up(md) {
  .sitemap {
    padding-top: 5rem;

    &__menu {
      margin-top: 0;
    }
  }
}