$main-slide-height: 100%;
$main-slide-text-shadow: $header-text-shadow;

.main-slide.slick-initialized {
  .main-slide__item {
    visibility: visible;
  }
}

.main-slide {
  overflow-x: hidden;
  margin-bottom: 0 !important;
  min-height: 600px;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1010;
    color: $body-color;
    background-color: #fff;
    opacity: 1;
    transition: opacity 1s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    i.fa {
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }

    &.hidden {
      opacity: 0;

      i.fa {
        opacity: 0;
      }
    }
  }

  &--full-height {
    .main-slide__item {
      height: $main-slide-height;
    }
  }

  .slick-list, .slick-track {
    height: 100%;
  }

  .slick-dots {
    bottom: 10px;

    li {
      button {
        &:before {
          font-size: 15px;
          color: #fff;
          opacity: 1;
          text-shadow: $main-slide-text-shadow;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: $primary-color;
          }
        }
      }
    }
  }
  &__item {
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    visibility: hidden; // polyfill for loading animation
  }
  &__content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    color: #fff;
    text-shadow: $main-slide-text-shadow;
    text-transform: uppercase;
    font-weight: $header-font-weight;
    font-size: 2.5rem;
    line-height: 1;
  }
  &__button {
    text-transform: uppercase;
    margin-top: 20px;
  }
}

@include media-breakpoint-up(sm) {
  .main-slide {
    &__text {
      font-size: 3rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .main-slide {
    &__text {
      font-size: 4.5rem;
    }
  }
}