.page-header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 320px;
  background: no-repeat center center;
  background-size: cover;

  &__content {
    text-align: center;
  }

  &__title {
    margin-bottom: 0;
    text-shadow: $header-text-shadow;
    text-transform: uppercase;
    font-weight: $header-font-weight;
    font-size: 2rem;
  }
}

@include media-breakpoint-up(lg) {
  .page-header {
    height: 475px;

    &__title {
      font-size: 3.5rem;
    }
  }
}