.site-header {
  .top-bar, .main-menu {
    text-transform: uppercase;
  }

  opacity: .9;

  .top-bar {
    height: 40px;
    line-height: 1rem;
    font-size: .9rem;

    .social-icons {
      li {
        margin: 0;
      }
    }

    .navbar {
      height: 100%;
      background: $top-bar-gray;

      .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
          .nav-link {
            text-decoration: underline;
          }
        }
      }

      .nav-link {
        color: $secondary-color-gray;
        width: 100%;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .main-menu {
    background-color: #fff;

    .navbar-secondary {
      .nav-link {
        color: $secondary-color-gray;
      }
    }

    .nav-item {
      &:hover, &.active {
        .nav-link {
          &:after {
            width: 100%;
          }
        }
      }

      .nav-link {
        position: relative;
        width: 100%;
        height: 100%;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
          transition: width .2s;

          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0;
          color: transparent;
          background: $rooftop-navbar-active-color;
          height: 3px;
        }
      }
    }
  }
}

.site-logo {
  height: $site-logo-height-mobile;
  width: auto;
}

@include media-breakpoint-up(sm) {
  .main-menu {
    .nav-link {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .site-header {
    .navbar {
      padding: 0;

      .container {
        padding: 0;
      }
      .nav-item {
        &:hover, &.active {
          .nav-link {
            &:after {
              width: 90%;
            }
          }
        }
      }
    }
  }
  .site-logo {
    height: $site-logo-height;
  }
}

@include media-breakpoint-up(lg) {
  .site-header {
    .main-menu {
      .navbar-secondary {
        display: none;
      }
      .nav-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .top-bar {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .main-menu {
    nav.navbar {
      .container {
        display: flex;

        .navbar-brand {
          flex: 1;

          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}