/* Sticky footer styles
-------------------------------------------------- */
#wrapper {
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
}

body, #wrapper {
  min-height: 100vh;
}