.bg {
  &-l {
    background-position: left !important;
    &-t {
      background-position: left top !important;
    }
    &-c {
      background-position: left center !important;
    }
    &-b {
      background-position: left bottom !important;
    }
  }
  &-r {
    background-position: right !important;
    &-t {
      background-position: right top !important;
    }
    &-c {
      background-position: right center !important;
    }
    &-b {
      background-position: right bottom !important;
    }
  }
  &-c {
    background-position: center !important;
    &-t {
      background-position: center top !important;
    }
    &-c {
      background-position: center center !important;
    }
    &-b {
      background-position: center bottom !important;
    }
  }
}