@import "background-position";
@import "hover";

@include media-breakpoint-down(xs) {
  .mx-xs-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.text-primary {
  color: $primary-color !important;
}

.ovx-h {
  overflow-x: hidden !important
}

.bg-light {
  background: linear-gradient(to bottom, #fff 0, #f6f6f6 150px) !important;
}

.bg-dark {
  background-color: #333 !important;

  &, .subtitle, p, figcaption {
    color: #ccc !important;
  }
  h2 {
    color: #fff !important;
  }
}