main#main {
  padding-top: 30px;
  padding-bottom: 30px;
}

body.homepage {
  main#main {
    padding: 0 !important;
  }
}

a {
  transition: all .2s ease-in-out;
}

.blur-up {
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  filter: blur(0);
}

form label {
  user-select: none;
}

button, label.custom-control {
  cursor: pointer;
}

.language-switcher {
  &--fixed {
    position: fixed;
    left: 15px;
    bottom: 40px;
  }
  &__text {
    margin-left: 5px;
  }
  a {
    padding: .5rem 1rem;
    background-color: #fff;
    color: $body-color;
    border-radius: 3px;
    box-shadow: none;

    opacity: .5;
    transition: opacity .3s, box-shadow .3s;

    &:hover {
      opacity: .9;
      box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.5);
    }
  }
}

@include media-breakpoint-up(lg) {
  .language-switcher {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, .9);

  &--dark {
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
  }
}

button[disabled], .disabled {
  cursor: not-allowed;
}

.back-to-top {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  opacity: .3;
  transition: opacity .3s;
  color: #fff;

  &:hover {
    opacity: .7;
    color: #fff;
  }

  &--fixed {
    position: fixed;
    right: 15px;
    bottom: 30px;
    z-index: 999;
  }
  &--shown {
    //display: block;
    opacity: .3;
  }
}

[m-mask] {
  display: none;
}

.custom-control-label {
  cursor: pointer;
}