$footer-bg: #f5f5f5;
$top-bar-gray: #E7E8E4;
$primary-color: #3D92B9;
$secondary-color-gray: #585858;
$hr-color: #dcddda;
$rooftop-navbar-color: #0B427A;
$cta-background-color: #E7E8E4;
$rooftop-navbar-hover-color: $primary-color;
$rooftop-navbar-active-color: $primary-color;

$site-logo-height: 50px;
$site-logo-height-mobile: 30px;
$header-text-shadow: 0 5px 15px #000;
$header-font-weight: 900;

// =============================
// == override slick carousel ==
// =============================
$slick-font-path: "/fonts/" !default;
$slick-loader-path: "/images/" !default;

// ==========================
// == override bootstrap's ==
// ==========================

//
// Color system
//
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$theme-colors: (
        primary: $primary-color,
        secondary: $gray-600,
        success: $green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $gray-800
);

// Links
//
// Style anchor elements.
$link-hover-decoration: none;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
//$font-family-sans-serif: 'Lato', sans-serif;
$font-family-sans-serif: 'Raleway', sans-serif;
$headings-color: #fff;
$font-weight-base: 300;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$btn-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Navbar
$navbar-light-color: $rooftop-navbar-color;
$navbar-light-hover-color: $rooftop-navbar-hover-color;
$navbar-light-active-color: $rooftop-navbar-active-color;

// Cards
$card-border-width: 0;