.alert {
  margin-bottom: 0;
  position: relative;

  &--fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999999;
  }
  &--fixed-bottom {
    bottom: 0;
    top: auto;
  }
  &--fixed-top {
    top: 0;
    bottom: auto;
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    &--fixed-bottom {
      bottom: 0;
      top: auto;
    }
    &--fixed-top {
      top: 0;
      bottom: auto;
    }

    .progress-bar {
      width: 100%;
      transition: width 5s linear;
    }
  }

  &-success {
    .progress {
      background-color: #d4edda;
    }
  }
}